h1 
{
	font-size: 70px;
	line-height: 90px;
}

p 
{
	font-size: 17px;	
	font-weight: lighter;
}

div.style
{
	position: relative;
	top: 50px;
	left: 85px;
	font-family: tahoma;
	color: white;
}

ul
{
	list-style-type: none;
	margin 0;
	padding 0;
}

li
{
	display: inline;
	margin-right: 50px;
}

a.menu
{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-family: tahoma;
	padding: 0px;
	font-size: 13px;
	position: relative;
	left: 16px;
	cursor: pointer;
}

a.home
{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-family: tahoma;
	padding: 0px;
	font-size: 13px;
	position: relative;
	left: 16px;
	cursor: pointer;
	border-bottom: 3px solid white;
}

a.far
{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-family: tahoma;
	padding: 10px 24px;
	font-size: 13px;
	font-weight: bold;
	position: relative;
	left: 300px;
	cursor: pointer;
	transition: 0.6s;
	border-radius: 6px;
}

a.far:hover
{
	background: #add8e6;
}

.button
{
	background: #F5FFFA;
	color: #00008B;
	text-transform: uppercase;
	font-family: tahoma;
	padding: 10px 24px;
	font-size: 13px;
	font-weight: bold;
	position: relative;
	left: 250px;
	margin: 10px;
	cursor: pointer;
	transition: 0.6s;
	border-radius: 6px;
}

.button:hover
{
	color: #add8e6;
}

.button2
{
	background: #dc143c;
	color: #fff;
	text-transform: uppercase;
	font-family: tahoma;
	padding: 17px 17px;
	font-size: 13px;
	font-weight: bold;
	position: relative;
	left: 35px;
	bottom: -95px;
	margin: 10px;
	cursor: pointer;
	transition: 0.6s;
	border-radius: 6px;
}

.button2:hover
{
	color: #ff6347;
}

.dot, .dotf
{
	  height: 13px;
	  width: 13px;
	  background-color: #4677ff;
	  border-radius: 50%;
	  display: inline-block;
	  margin-right: 25px;
	  position: relative;
	  left: 85px;
	  bottom: -155px;
}

.dotf
{
  border: 5px solid;
  border-color: #ffb600;
  background-color: #0043ff;
}

.dot
{
	margin-bottom: 5px;
}